{% extends 'main.html' %}
{% block content %}

<div class="container" style="width: 400px; position: relative; top: 200px;">
    <form method="post">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden'%}
        <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
        </div>{% for err in field.errors %}
        <small class="text-danger">{{err}}</small>
        {% endfor %}
        {% endfor %}<br><br>


        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/settings" class="btn btn-info">Back to settings</a>
    </form><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container" style="width: 200px;">
        <div class="alert alert-{{category}} text-center" id="fade">
            {{message}} </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock content %}